modal-no-storage {
  .-modal {
    background-color: #fbfbfb;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 90%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    .-body {
      padding: 25px;
      p {
        color: #1E2227;
        margin: 0 0 25px 0;
        opacity: 0.8;
      }
      .-checkbox {
        text-align: center;
        width: 100%;

        ion-checkbox {
          display: inline-block;
          margin-right: 10px;
        }

        ion-label {
          display: inline-block;
          margin: 0;
        }

        margin-bottom: 25px;
      }

      .-continue {
        background: linear-gradient(-20deg, #00C3FF, #0072FF);
        //border-radius: 25px;
        color: #FBFBFB;
        display: block;
        font-size: 14px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        width: 160px;
        text-transform: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}
