modal-disclaimer {
  .-modal {
    background-color: #fbfbfb;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 90%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    .-header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #eee;
      color: #fb003d;
      line-height: 50px;
      min-height: 40px;
      height: 50px;
      text-align: center;

      .-close{
        background-color: transparent;
        border: none;
        border-radius: 5px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        color: rgba(0,0,0,0.2);
        margin: 0;
        position: absolute;
        font-size: 16px;
        height: 50px;
        width: 50px;
        right: 0;
        top: 0;
      }
    }
    .-body {
      padding: 25px;
      p {
        color: #16191d;
        margin: 0 0 25px 0;
      }
      .-checkbox {
        text-align: center;
        width: 100%;

        ion-checkbox {
          display: inline-block;
          margin-right: 10px;
        }

        ion-label {
          display: inline-block;
          margin: 0;
        }

        margin-bottom: 25px;
      }

      .-continue {
        //background-color: #ececed;
        //border-radius: 25px;
        color: #848484;
        display: block;
        font-size: 14px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        width: 160px;
      }
    }
  }
}
